<main id="main" class="main">
    
        
          
   
     <div class="part2">
        <div class="pagetitle">
            <h1> TIMELINES</h1>
            <nav>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item">TIMESHEETS</li>
                  <li class="breadcrumb-item active">TIMELINES</li>
               </ol>
            </nav>
            <section>
                <table>
                    <thead>
                      <tr>
                        <th>timeLinesID</th>
                       
                        <th>TimesheetId</th>
                        <th>matterID</th>
                        <th>entite</th>
                        <th>manager</th>
                        <th>dure</th>
                        <th>taux</th>
                        <th>description</th>
                        <th>Supprimer</th>
                        <th>Modifier</th>
                        <th>Valider</th>

                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let t of timeline">
                        <td>{{t.timeLinesID}}</td>
                      
                        <td>{{t.timesheetID}}</td>
                        <td>{{t.matterID}}</td>
                        <td>{{t.entite}}</td>
                        <td>{{t.manager}}</td>
                        <td>{{t.dure}}</td>
                        <td>{{t.taux}}</td>
                        <td>{{t.description}}</td>
                        
                        <td>
                            <button (click)="deleteTimeline(t.timeLinesID)">Supprimer</button>
                          </td>
                          <td>
                            <button (click)="edittimeline(t.timeLinesID)" >Modifier</button>
                          </td>
                     
                          <td>
                            <button *ngIf="!t.valider" (click)="validerTimeline(t.timeLinesID)">Valider</button>
                          </td>
                      </tr>
                      
                      <!-- Ajoutez plus de lignes ici -->
                    </tbody>
                  </table>
                  
                  
              </section>
            <div class="aj" *ngIf="!isManager" >
                <button (click)="Open()" type="submit"  class="btn btn-primary me-2">Aouter un nouveau timeline</button>

            </div>
         </div>
            </div>
</main> 