<main id="main" class="main">
    <div class="pagetitle">
       <h1>ADD Matter</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Matters</li>
             <li class="breadcrumb-item active">Add Matter</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg">
             <div class="card">
               <div class="card-header">
                  <p style="font-size: 20px ; font-weight: bold;position: absolute; top: 5%;"><i class="bi bi-info-circle-fill" style="margin-right: 10px;"></i><span>INFOS CLIENT</span> </p>
               </div>
                <div class="card-body" style="padding-top: 30px;">
      
                   <form>
                      <div class="row mb-3">
                        <div class="col">
                         <label for="inputText" class="form-label">Nom du Client</label>
                        
                           <select class="form-select input-rond" style="width: 100%;" >
                              <option >-----------</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                           </div>
                           <div class="col">
                           <label for="inputText" class=" form-label">Nom de l'Entité</label>
                              <select class="form-select input-rond" style="width: 100%;" >
                                 <option >-----------</option>
                                 <option value="1">One</option>
                                 <option value="2">Two</option>
                                 <option value="3">Three</option>
                              </select>
                              </div>
                      </div>
                     
                     </form>
                     </div>           
          </div>
         </div>
       </div>
    </section>
    <section class="section">
     <div class="row">
      <div class="col-lg">
         <div class="card">
            <div class="card-header">
               <p style="font-size: 20px ; font-weight: bold;position: absolute; top: 2%;"><i class="bi bi-info-circle-fill" style="margin-right: 10px;"></i><span>INFOS MATTER</span> </p>
            </div>
            <div class="card-body" style="padding-top: 30px;">
            <form>
               <div class="row mb-3">
                  <div class="col">
                 <label for="inputText" class="form-label">Date de Démarrage</label>
                  <input type="date" class="form-control input-rond" style="width: 100%;" required>
                  </div>
                  <div class="col">
                  <label for="inputText" class=" form-label">Date de Fin</label>
                  <input type="date" class="form-control input-rond" style="width: 100%;">
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col">
                  <label for="inputText" class="form-label">Libellé</label>
                  <input type="text" class="form-control input-rond" style="width:100%;" placeholder="Libellé">
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col">
                  <label for="inputText" class=" form-label">Type Matter </label>
                           <select class="form-select input-rond"style="width:220px" >
                              <option >-----------</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                         </div>
                         <div class="col">
                         <label for="inputText" class="form-label">Type Forfait</label>
                           <select class="form-select input-rond" style="width:200px">
                              <option >-----------</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                         </div>
               </div>
               <div class="row mb-3">
                  <div class="col">
                  <label for="inputText" class=" form-label">Montant </label>
                  <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0">        
                         </div>
                         <div class="col">
                         <label for="inputText" class="form-label">Device</label>
                           <select class="form-select input-rond" style="width:200px">
                              <option >-----------</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                         </div>
               </div>
               <div class="row mb-3">
                  <div class="col">
                  <label for="inputText" class=" form-label">TVA </label>
                  <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0">        
                         </div>
                         <div class="col">
                         <label for="inputText" class="form-label">Status</label>
                           <select class="form-select input-rond" style="width:200px">
                              <option >-----------</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                         </div>
               </div>
            </form> 
            </div>  
         </div>
      </div>
     </div>
    </section>
 </main>