<main id="main" class="main">
    <div class="pagetitle">
        <h1>INFOS CLIENTS</h1>
        
     </div>
     <section class="section">
        <div class="row">
           <div class="col-lg-6">
              <div class="card">
                 <div class="card-body">
                    <form>
                        <div class="row mb-3" >
                            <div class="col">
                              <label for="input1" class="form-label">Nom du client</label>
                              <input type="text" class="form-control" id="input1" name="input1">
                            </div>

                            <div class="col" >
                              <label for="input2" class="form-label">Nom de Entité</label>
                              <input type="text" class="form-control" id="input2" name="input2">
                            </div>
                          </div>
                         
                    </form>
                 </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagetitle">
        <h1>INFOS MATTERS</h1>
        
     </div>
    <section class="section" > 
        <form class="form">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="date-debut" class="form-label">Date de début :</label>
                <input type="date" class="form-control" id="date-debut" name="date-debut">
              </div>
              <div class="col-md-6">
                <label for="date-fin" class="form-label">Date de fin :</label>
                <input type="date" class="form-control" id="date-fin" name="date-fin">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="libelle" class="form-label">Libellé :</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>
              <div class="col-md-6">
                <label for="type-matiere" class="form-label">Type de matter :</label>
                <select class="form-select" id="type-matiere" name="type-matiere">
                  <option value="">Sélectionnez un type de matière</option>
                  <option value="bois">Bois</option>
                  <option value="métal">Métal</option>
                  <option value="plastique">Plastique</option>
                </select>


              </div>
              <div class="col-md-6">
                <label for="libelle" class="form-label">Type Forfait</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>

              <div class="col-md-6">
                <label for="libelle" class="form-label">Montant</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>
              <div class="col-md-6">
                <label for="libelle" class="form-label">Devise</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>
              <div class="col-md-6">
                <label for="libelle" class="form-label">TVA</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>
              <div class="col-md-6">
                <label for="libelle" class="form-label">Status</label>
                <input type="text" class="form-control" id="libelle" name="libelle">
              </div>
            </div>
           </form>
            
          


    </section>

</main>