<main id="main" class="main">
  <div class="pagetitle">
    <h1>IFORMATION DU CLIENT</h1>
    <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">Matters</li>
          <li class="breadcrumb-item active">Recherche Matter</li>
       </ol>
    </nav>
 </div>
   <div class="container">
    <form  [formGroup]="form" (submit)="submit()">
      <div class="mb-3">
        <label for="input1" class="form-label">Numero client</label>
        <input type="number " class="form-control" id="input1" placeholder="Entrez votre Numero" formControlName="numeroClient">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Nom du client</label>
        <input type="text" class="form-control" id="input2" placeholder="Entrez votre nom" formControlName="ClientName">
      </div>
      <div class="mb-3">
        <label for="input3" class="form-label">Description</label>
        <input type="text" class="form-control" id="input3" placeholder="Entrez la Description" height="500px" formControlName="Description">
      </div>
      <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
      <button type="button" class="btn btn-secondary">Annuler</button>
    </form>
  </div>
  
  