<main id="main" class="main">
    <div class="pagetitle">
        <h1>IFORMATION DU TIMESHEETS</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">TIMESHEETS</li>
              <li class="breadcrumb-item active">TIMELINES</li>
           </ol>
        </nav>
     </div>
     <div>
        <div class="container">
            <div class="row">
              <div class="col">
                <h1>Informations personnelles</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="info">
                  <div class="label">Date:</div>
                  <div class="value">Dupont</div>
                </div>
                <div class="info">
                  <div class="label">Prénom :</div>
                  <div class="value">Jean</div>
                </div>
                <div class="info">
                  <div class="label">Âge :</div>
                  <div class="value">30 ans</div>
                </div>
                <div class="info">
                  <div class="label">Ville :</div>
                  <div class="value">Paris</div>
                </div>
              </div>
            </div>
          </div>
          
     </div>
     <div class="part2">
        <div class="pagetitle">
            <h1> TIMELINES</h1>
            <nav>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item">TIMESHEETS</li>
                  <li class="breadcrumb-item active">TIMELINES</li>
               </ol>
            </nav>
            <div class="aj" >
                <button (click)="Open()" type="submit"  class="btn btn-primary me-2">Aouter un nouveau timesheet</button>

            </div>
         </div>
         
   
     <section>
        <table>
            <thead>
              <tr>
                <th>client</th>
                <th>Entité</th>
                <th>Matter</th>
                <th>Manager</th>
                <th>Durée</th>
                <th>THM</th>
                <th>Description</th>
                <th>facturation</th>
                <th>validation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Smith</td>
                <td>John</td>
                <td>john.smith@example.com</td>
                <td>123 Main St</td>
                <td>Anytown</td>
                <td>USA</td>
                <td>12345</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Doe</td>
                <td>Jane</td>
                <td>jane.doe@example.com</td>
                <td>456 Oak Ave</td>
                <td>Anytown</td>
                <td>USA</td>
                <td>12345</td>
                <td></td>
                <td></td>
              </tr>
              <!-- Ajoutez plus de lignes ici -->
            </tbody>
          </table>
          
          
      </section>
    </div>
</main>      