<main id="main" class="main">
    <div class="pagetitle">
        <h1>IFORMATION DU TIMESHEETS</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">TIMESHEETS</li>
              <li class="breadcrumb-item active">TIMELINES</li>
           </ol>
        </nav>
     </div>
     
     <section>
      <div class="aj" >
        <button (click)="Open()" type="submit"  class="btn btn-primary me-2">Aouter un nouveau timesheet</button>

    </div>
        <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>timeLinesID</th>
                <th>numeroTimesheet</th>
                <th>Date</th>
                <th>totalH</th>
                <th>totalV</th>
                <th>collaborateur</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.timeLinesID}}</td>
                <td>{{client.numTimesheet}}</td>
                <td>{{client.date}}</td>
                <td>{{client.totalH}}</td>
                <td>{{client.totalV}}</td>
                <td>{{client.collaborateur}}</td>
               
              </tr>
              
              <!-- Ajoutez plus de lignes ici -->
            </tbody>
          </table>
          
          
      </section>
    
</main>      