<main id="main" class="main">
  <div class="pagetitle">
      <h1>Modifier client</h1>
      <nav>
         
      </nav>
   </div>
    <form [formGroup]="form" (submit)=" onSubmit()">
        <div class="form-group">
          <label for="nom">numero Client</label>
          <input type="text" class="form-control" id="nom" name="nom"  formControlName="numeroClient" >
        </div>
        <div class="form-group">
          <label for="prenom">Nom du client</label>
          <input type="text" class="form-control" id="prenom" name="prenom"  formControlName="ClientName" >
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"  formControlName="Description" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn-primary">Annuler</button>
      </form>
    </main>
  