<main id="main" class="main">
    <div class="pagetitle">
        <h1>ADD Matter</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">Matters</li>
              <li class="breadcrumb-item active">Recherche Matter</li>
           </ol>
        </nav>
     </div>
 <div class="search-container">
    <form>
      <input type="text" placeholder="Recherche..." name="search">
      <button type="submit">Recherche</button>
      <button type="button">Effacer</button>
    </form>
  </div>
  <section>
    <table >
        <thead>
          <tr>
            <th>matterID</th>
            <th>datededemarage</th>
            <th>datedefin</th>
            <th>Libellé</th>
            <th>typeMatter</th>
            <th>typeforfait</th>
            <th>montant</th>
            <th>device</th>
            <th>tva</th>
            <th>status</th>
            <th>Delete</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of Matter">
            <td>{{m.matterID}}</td>
            <td>{{m.datededemarage}}</td>
            <td>{{m.datedefin}}</td>
            <td></td>
            <td>{{m.typeMatter}}</td>
            <td>{{m.typeforfait}}</td>
            <td>{{m.montant}}</td>
            <td>{{m.device}}</td>
            <td>{{m.tva}}</td>
            <td>{{m.status}}</td>
            <td>
              <button (click)="deleteMatter(m.matterID)">Supprimer</button>
            </td>
            <td>
              <button (click)="editmatter(Matter)" >Modifier</button>
            </td>
           
           
          </tr>
       
          
        </tbody>
      </table>
      
      
  </section>
</main>
