<main id="main" class="main">
    <div class="pagetitle">
        <h1>ADD Matter</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">Matters</li>
              <li class="breadcrumb-item active">Recherche Matter</li>
           </ol>
        </nav>
     </div>
 <div class="search-container">
    <form>
      <input type="text" placeholder="Recherche..." name="search">
      <button type="submit">Recherche</button>
      <button type="button">Effacer</button>
    </form>
  </div>
  <section>
    <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Code Postal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Smith</td>
            <td>John</td>
            <td>john.smith@example.com</td>
            <td>123 Main St</td>
            <td>Anytown</td>
            <td>USA</td>
            <td>12345</td>
          </tr>
          <tr>
            <td>Doe</td>
            <td>Jane</td>
            <td>jane.doe@example.com</td>
            <td>456 Oak Ave</td>
            <td>Anytown</td>
            <td>USA</td>
            <td>12345</td>
          </tr>
          <!-- Ajoutez plus de lignes ici -->
        </tbody>
      </table>
      
      
  </section>
</main>
