<section class="section">
    <div class="row">
     <div class="col-lg">
        <div class="card">
           <div class="card-header">
              <p style="font-size: 20px ; font-weight: bold;position: absolute; top: 2%;"><i class="bi bi-info-circle-fill" style="margin-right: 10px;"></i><span>INFOS MATTER</span> </p>
           </div>
           <div class="card-body" style="padding-top: 30px;">
           <form [formGroup]="form" (submit)="submit()">
              <div class="row mb-3">
                 <div class="col">
                <label for="inputText" class="form-label">Client</label>
                <select class="form-select input-rond" style="width: 100%;" formControlName="nameClient"
                ><option  *ngFor="let option of client" [value]="option.clientID">{{ option.nameClient }}</option>
                  
               </select>
                 <div class="col">
                 <label for="inputText" class=" form-label">Entité</label>
                 <input type="text" class="form-control input-rond" style="width: 100%;" formControlName="entite">
                 </div>
              </div>
              </div>
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class="form-label">Matters</label>
                 <select class="form-select input-rond" style="width: 100%;" formControlName="matterID" > 
                 <option  *ngFor="let option of Matter" [value]="option.matterID" >{{ option.matterID }}</option ></select>
                 </div>
              </div>
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class=" form-label">Manager </label>
                 <input type="text" class="form-control input-rond" style="width:400px"  placeholder="Manager" formControlName="manager"> 
                        </div>
                        <div class="col">
                        <label for="inputText" class="form-label">durée</label>
                        <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0" formControlName="dure"> 
                        </div>
              </div>
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class=" form-label">taux Horaire</label>
                 <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0" formControlName="taux">        
                        </div>
                        <div class="col">
                        <label for="inputText" class="form-label">description</label>
                        <input type="text" class="form-control input-rond" style="width:400px"  placeholder="Device" formControlName="description"> 
                        </div>
              </div>
              
              <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                         <button type="button" class="btn btn-secondary">Annuler</button>
           </form>
           </div>  
        </div>
     </div>
    </div>
   </section>