<section class="section">
    <div class="row">
     <div class="col-lg">
        <div class="card">
           <div class="card-header">
              <p style="font-size: 20px ; font-weight: bold;position: absolute; top: 2%;"><i class="bi bi-info-circle-fill" style="margin-right: 10px;"></i><span>Ajouter une timeline</span> </p>
           </div>
           <div class="card-body" style="padding-top: 30px;">
           <form [formGroup]="form" (submit)="submit()">
             
                
                 <div class="col">
                 <label for="inputText" class=" form-label">numTimesheet</label>
                 <input type="text" class="form-control input-rond" style="width: 100%;" formControlName="numTimesheet">
                 </div>
           
            
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class="form-label">date</label>
                 <input type="date" class="form-control input-rond" style="width: 100%;" formControlName="date">
                 
                 </div>
              </div>
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class=" form-label">totalH </label>
                 <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0" formControlName="totalH"> 
                        </div>
                        <div class="col">
                        <label for="inputText" class="form-label">totalV</label>
                        <input type="number" class="form-control input-rond" style="width:400px"  placeholder="0" formControlName="totalV"> 
                        </div>
              </div>
              <div class="row mb-3">
                 <div class="col">
                 <label for="inputText" class=" form-label">collaborateur</label>
                 <select class="form-select input-rond" style="width: 100%;" formControlName="collaborateur" > 
                  <option  *ngFor="let option of   collabarateur" [value]="option.userName" >{{ option.userName}}</option ></select>        
                        </div>
                       
                        <div class="col">
                        <label for="inputText" class="form-label">manager</label>
                         <select class="form-select input-rond" style="width: 100%;" formControlName="manager" > 
              <option  *ngFor="let option of manager" [value]="option.id" >{{ option.userName}}</option ></select>
                        </div>
                        
                         
              </div>
              
              <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                         <button type="reset"  class="btn btn-secondary">Annuler</button>
           </form>
           </div>  
        </div>
     </div>
    </div>
   </section>