<main>
    <div class="container-fluid">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" style="margin-left: 100px;">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                   
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Creation du compte</h5>
                            <p class="text-center small">Entrez vos informations personnelles pour créer un compte</p>
                         </div>
                         <form class="row g-3 needs-validation" novalidate>
                           <div class="col-12">
                              <label for="yourUsername" class="form-label">Adresse mail</label>
                              <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend">@</span> <input type="text" name="username" class="form-control" id="yourUsername" required>
                                 <div class="invalid-feedback">Please choose a username.</div>
                              </div>
                           </div>
                           <div class="col-12">
                              <label for="yourUsername" class="form-label">Password</label>
                              <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key"></i></span> <input type="text" name="username" class="form-control" id="yourUsername" required>
                                 <div class="invalid-feedback">Please choose a username.</div>
                              </div>
                           </div>
                            <div class="col-12">
                               <label for="yourName" class="form-label"> Nom</label>
                               <div class="input-group">
                                 <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-circle"></i></span> <input type="text" name="name" class="form-control" id="yourName" required>
                               <div class="invalid-feedback">Please, enter your name!</div>
                            </div>
                           </div>
                            <div class="col-12">
                              <label for="yourName" class="form-label">Prénom</label> 
                              <div class="input-group">
                                 <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-circle"></i></span> <input type="text" name="prénom" class="form-control" id="yourPrenom" required>
                              <div class="invalid-feedback">Please, enter your name!</div>
                           </div>
                           </div>
                           <div class="col-12">
                              <label for="yourName" class="form-label">Mobile</label>
                              <div class="input-group">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-phone"></i></span><input type="tel" id="telephone" class="form-control" name="telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                              <div class="invalid-feedback">Please, enter your name!</div>
                           </div>
                        </div>
                           <div class="col-12">
                              <label for="yourName" class="form-label">Téléphone</label> 
                              <div class="input-group">
                                 <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-telephone"></i></span>  <input type="tel" id="telephone2" class="form-control" name="telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                              <div class="invalid-feedback">Please, enter your name!</div>
                           </div>
                           </div>
                            
                            
                            <div class="col-12">
                               <label for="yourPriceTime" class="form-label">Taux Horaire</label>
                               <div class="input-group">
                               <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-currency-euro"></i></span> <input type="number" name="money" class="form-control" id="yourPassword" required>
                               <div class="invalid-feedback">Veuillez entrer votre mot de passe !</div>
                            </div>
                           </div>
                           <div class="col-12">
                              <label for="yourPriceTime" class="form-label">Target</label>
                              <div class="input-group">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-currency-euro"></i></span> <input type="number" name="money2" class="form-control" id="yourPassword" required>
                              <div class="invalid-feedback">Veuillez entrer votre mot de passe !</div>
                           </div>
                          </div>
                            
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Créer un compte</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                 
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>