<main id="main" class="main">
  
    
     <div class="part2">
        <div class="pagetitle">
            <h1> TIMELINES</h1>
            <nav>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item">TIMESHEETS</li>
                  <li class="breadcrumb-item active">TIMELINES</li>
               </ol>
            </nav>
            <section>
                <table>
                    <thead>
                      <tr>
                        <th>timeLinesID</th>
                       
                        <th>TimesheetId</th>
                        <th>matterID</th>
                        <th>entite</th>
                        <th>manager</th>
                        <th>dure</th>
                        <th>taux</th>
                        <th>description</th>
                        <th>Validated</th>
                       

                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let t of   validatedTimelines">
                        <td>{{t.timeLinesID}}</td>
                      
                        <td>{{t.timesheetID}}</td>
                        <td>{{t.matterID}}</td>
                        <td>{{t.entite}}</td>
                        <td>{{t.manager}}</td>
                        <td>{{t.dure}}</td>
                        <td>{{t.taux}}</td>
                        <td>{{t.description}}</td>
                        <td>
                            <i class="fas" [ngClass]="{'fa-check': t.validatedTimelines, 'fa-times': !t.validatedTimelines}"></i>
                          </td>
                        
                       
                       
                     
                         
                      </tr>
                      
                      <!-- Ajoutez plus de lignes ici -->
                    </tbody>
                  </table>
                  
                  
              </section>
            
         </div>
            </div>
</main> 
